:root {
    --bs-body-bg: var(--bs-gray-100);
    --bs-font-sans-serif: 'Noto Sans', sans-serif;
    --bs-font-monospace: 'Wellfleet', monospace;
}
body {
    font: 1rem/1.5 var(--bs-font-sans-serif);
}
.boxed {
    min-height: 200px;
    overflow-y: auto;
}
.boxed-fixed {
    height: 200px;
}
.boxed table {
    width: 100%;
}

@media print {
    #res {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}